<html>

<head>
    <title>Todo project</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <h1 class="main-heading">Todo App</h1>

    <!-- Adding a task that needs to be done u need to login yhi hai details but failed hora h forgot password karo phir set karo ok krri hu mai phn ye hi username and pass hain?  han yhi hai, vha bhi sign-in hogya tha yhi ni hora bs, mne upload files kr k bhi try kia tha but node modules mai kaafi files h toh ni hua aur index.html naam se bolta h fir vo ek mandatory fileseok-->
    <form id="todo-form" action="/create" method="POST">
        <div class="full-box">
            <label class="sub-heading">DESCRIPTION</label><br>
            <input type="text" id="description" name="description" placeholder="What do you need to do?">
        </div><br>
        <div id="partition">
            <div class="half-box">
                <label class="sub-heading">CATEGORY</label><br>

                <select id="category-dropdown" name="category">
                        <option style="display:none">Choose a category</option>
                        <option value="Choose"  disabled>Choose a category</option>
                        <option value="work">WORK</option>
                        <option value="personal">PERSONAL</option>
                        <option value="home">HOME</option>
                        <option value="others">OTHERS</option>
                      </select>
            </div>
            <div class="half-box">
                <label class="sub-heading">DUE DATE</label><br>
                <input type="date" id="category" name="date" placeholder="dd/mm/yyyy">
            </div>
        </div>
        <div id='button-div'>
            <button type="submit" id="add-task"><i class="fas fa-plus">Add Task</i></button>
        </div>
        <br>
    </form>

    <!-- For deleting the tasks that are completed -->
    <form action='/delete' method="POST">
        <p id="added-task">Tasks need to be done</p>
        <% for(var i of Todo_list){ %>
            <div id="display-todo">
                <input type="checkbox" name="<%= i._id%>">
                <div id="tasks-list">
                    <p>
                        <%=i.description%>
                    </p>
                    <div id='category-style'>
                        <%=i.category %>
                    </div>
                    <p>
                        <%=i.date %>
                    </p>
                </div>
            </div>
            <br>
            <% } %>
            <div id='button-div'>
                <button type="submit" id="delete-task"><i class="fas fa-trash-alt">Delete Tasks</i></button>
            </div>  
    </form> 

</body>

</html>